<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <urlRewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="router.php" />
        </rule>
      </rules>
    </urlRewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="public/index.html" />
        <add value="router.php" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>